<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">The cocktail DB</a>
  </div>
</nav>

<div class="card-group m-3">
  <div class="card text-bg-dark" style="max-width: 540px">
    <img [src]="drink.strDrinkThumb" class="img-fluid rounded-start" />
    <div class="card-img-overlay">
      <div class="card-body">
        <h5 class="card-title">
          {{ drink.strDrink }} ({{ drink.strCategory }})
        </h5>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ingredients</h5>
      <ul>
        <li *ngFor="let ingredient of drink.ingredients">
          {{ ingredient.name }}: {{ ingredient.measure }}
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Instructions</h5>

      <p class="card-text">{{ currentInstruction }}</p>
    </div>
  </div>
</div>

<select (change)="changeLanguage()" [(ngModel)]="lang">
  <option>EN</option>
  <option>IT</option>
  <option>ES</option>
  <option>DE</option>
  <option>FR</option>
</select>
